[Unit]
Description=Server web to administrate cargo project
After=network.target
[Service]
Environment="TUX_DIR=/home/juwishmaster/Documents/"
Environment="TUX_EDITOR=code"
Environment="TUX_PROVIDER_USERNAME=taishingi"
Environment="TUX_PROVIDER=github.com"
Type=simple
ExecStart=%h/bin/tux
[Install]
WantedBy=basic.target