@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::-webkit-scrollbar {
    @apply bg-transparent w-2 h-5
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded dark:bg-blue-500
}

::-webkit-scrollbar-corner {
    @apply rounded
}

@layer components {

    .app {
        @apply w-11/12 m-auto dark:bg-black rounded-2xl bg-white overflow-auto dark:shadow-blue-600 shadow-gray-800 dark:shadow-sm shadow-sm mb-20 mt-20 p-10
    }

    .notif {
        @apply block hover:bg-green-500 hover:text-white bg-transparent border-2 border-green-500 p-5 rounded-xl text-justify text-green-500 font-bold mb-5 w-full
    }

    .readme h1, .readme h2, .readme h3, .readme h4, .readme h5, .readme h6 {
        @apply dark:text-teal-500 font-bold uppercase mt-5 mb-5
    }

    pre {
        @apply mt-5 mb-5
    }

    .readme a {
        @apply dark:text-blue-600 dark:font-bold dark:underline
    }

    .readme img {
        @apply dark:border-2 dark:border-white mt-5 mb-5
    }

    .readme pre {
        @apply p-3
    }

    .project-readme h2,
    .project-readme h3 {}


    .project-readme code {}

    .project-title {}

    .card-action {}

    .hide {
        @apply hidden
    }

    .show {
        @apply block
    }

    .project-message {}

    .project-log {}

    .projects-badges {
        @apply columns-2
    }


    .license pre {
        @apply justify-center flex items-center
    }

    .btn {
        @apply p-5 block cursor-pointer bg-transparent text-center font-bold border-b-2 dark:border-b-blue-600 border-b-red-400 rounded-xl dark:text-blue-500 text-red-500 w-full
    }

    .presentation h1 {
        @apply dark:text-teal-500 text-red-500 font-bold text-center uppercase
    }

    .presentation p {
        @apply mt-5 mb-5 text-center dark:text-teal-600 text-red-500 font-semibold
    }

    ul.tabs {
        @apply flex justify-center list-none leading-5 w-full
    }

    ul.tabs li {
        @apply float-left cursor-pointer m-0 p-5 h-5 leading-5 dark:bg-transparent dark:text-blue-600 bg-white text-black overflow-hidden relative
    }

    .tab_last {
        @apply bg-white dark:bg-transparent
    }

    ul.tabs li:hover {
        @apply text-black dark:border-b-2 dark:border-blue-500 dark:text-blue-600 font-semibold
    }

    ul.tabs li.active {
        @apply float-left font-semibold block cursor-default m-0 p-5 h-5 leading-5 border-2 border-b-0 dark:border-blue-500 border-red-500 dark:bg-transparent bg-white dark:text-blue-600 text-red-600 overflow-hidden relative
    }

    .tab_container {
        @apply clear-both float-left w-full bg-white dark:bg-black
    }

    .tab_content {
        @apply p-5 hidden
    }

    .tab_drawer_heading {
        display: none;
    }

    @media screen and (max-width: 480px) {
        .tabs {
            display: none;
        }

        .tab_drawer_heading {
            background-color: #ccc;
            color: #fff;
            border-top: 1px solid #333;
            margin: 0;
            padding: 5px 20px;
            display: block;
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .d_active {
            background-color: #666;
            color: #fff;
        }
    }
}