[Unit]
Description=Server web to list an administrate cargo project
Wants=network-online.target
After=network-online.target
[Service]
Environment="CRATES_DIR=/home/juwishmaster/Documents/"
Environment="CRATES_EDITOR=code"
Environment="CRATES_PROVIDER=github.com"
Environment="CRATES_PROVIDER_USERNAME=taishingi"
Type=simple
ExecStartPre=notify-send "launch the ls server"
ExecStart=%h/bin/launch-ls-server
[Install]
WantedBy=default.target