[Unit]
Description=Server web to aniministrate cargo project
After=network.target
[Service]
Environment="TUX_DIR=/home/juwishmaster/Documents"
Environment="TUX_EDITOR=code"
Environment="TUX_PROVIDER_USERNAME=taishingi"
Environment="TUX_PROVIDER=github.com"
Type=simple
ExecStart=/usr/local/bin/tux
[Install]
WantedBy=default.target
