{% extends "base" %}

{% block content %}
<div class="container">
    {% if message %}
        <pre>
            {{message}}
        </pre>
    {% endif %}
    <div class="action">
        <form action="/" method="get">
            <button type="submit" class="btn"> Return</button>
        </form>
        <form action="/{{url}}" method="post">
            <button type="submit" class="btn"> Retry</button>
        </form>
        <form action="/open/{{editor}}/{{project}}" method="post">
            <button type="submit" class="btn"> Open editor</button>
        </form>
    </div>
</div>
{% endblock content %}
